.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.890299;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y6{bottom:10.339860px;}
.y8{bottom:10.339862px;}
.ya{bottom:10.339872px;}
.yc{bottom:10.339881px;}
.y10{bottom:10.339886px;}
.ye{bottom:10.339891px;}
.y12{bottom:10.339895px;}
.y14{bottom:10.339905px;}
.y16{bottom:10.339915px;}
.y18{bottom:10.339924px;}
.y1a{bottom:10.339934px;}
.y1c{bottom:10.339944px;}
.y4{bottom:21.499190px;}
.y2{bottom:28.933057px;}
.y3{bottom:36.080046px;}
.y0{bottom:71.500000px;}
.y1b{bottom:72.249961px;}
.y19{bottom:102.342561px;}
.y17{bottom:132.435161px;}
.y15{bottom:162.527761px;}
.y13{bottom:192.620361px;}
.y11{bottom:222.712961px;}
.yf{bottom:252.805561px;}
.yd{bottom:282.898161px;}
.yb{bottom:312.990761px;}
.y9{bottom:343.083361px;}
.y7{bottom:373.175961px;}
.y5{bottom:403.268561px;}
.y1{bottom:433.361161px;}
.h5{height:29.592600px;}
.h4{height:36.359375px;}
.h3{height:42.540469px;}
.h2{height:70.719100px;}
.h1{height:433.500000px;}
.h0{height:576.330300px;}
.w2{width:105.218800px;}
.w5{width:137.694500px;}
.w7{width:144.604200px;}
.w6{width:177.770800px;}
.w4{width:228.902800px;}
.w3{width:301.454800px;}
.w1{width:1099.000000px;}
.w0{width:1206.645900px;}
.x6{left:19.707230px;}
.x9{left:22.885450px;}
.x1{left:24.529375px;}
.x19{left:33.727382px;}
.x8{left:39.745451px;}
.x16{left:42.451400px;}
.xb{left:43.609375px;}
.x17{left:44.847245px;}
.xe{left:47.847245px;}
.x10{left:51.302050px;}
.x0{left:54.000000px;}
.xd{left:60.451400px;}
.x12{left:63.727382px;}
.x14{left:64.885450px;}
.x15{left:66.727382px;}
.xf{left:67.885450px;}
.x3{left:73.507381px;}
.x13{left:78.451400px;}
.x18{left:87.451400px;}
.x11{left:93.727382px;}
.xc{left:96.727382px;}
.x1a{left:105.451400px;}
.x2{left:159.968800px;}
.x4{left:461.923600px;}
.x5{left:691.326400px;}
.x7{left:829.520800px;}
.xa{left:1007.791700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y6{bottom:13.786480pt;}
.y8{bottom:13.786483pt;}
.ya{bottom:13.786496pt;}
.yc{bottom:13.786508pt;}
.y10{bottom:13.786515pt;}
.ye{bottom:13.786521pt;}
.y12{bottom:13.786527pt;}
.y14{bottom:13.786540pt;}
.y16{bottom:13.786553pt;}
.y18{bottom:13.786565pt;}
.y1a{bottom:13.786579pt;}
.y1c{bottom:13.786592pt;}
.y4{bottom:28.665587pt;}
.y2{bottom:38.577409pt;}
.y3{bottom:48.106728pt;}
.y0{bottom:95.333333pt;}
.y1b{bottom:96.333282pt;}
.y19{bottom:136.456748pt;}
.y17{bottom:176.580215pt;}
.y15{bottom:216.703682pt;}
.y13{bottom:256.827148pt;}
.y11{bottom:296.950615pt;}
.yf{bottom:337.074082pt;}
.yd{bottom:377.197548pt;}
.yb{bottom:417.321015pt;}
.y9{bottom:457.444482pt;}
.y7{bottom:497.567948pt;}
.y5{bottom:537.691415pt;}
.y1{bottom:577.814882pt;}
.h5{height:39.456800pt;}
.h4{height:48.479167pt;}
.h3{height:56.720625pt;}
.h2{height:94.292133pt;}
.h1{height:578.000000pt;}
.h0{height:768.440400pt;}
.w2{width:140.291733pt;}
.w5{width:183.592667pt;}
.w7{width:192.805600pt;}
.w6{width:237.027733pt;}
.w4{width:305.203733pt;}
.w3{width:401.939733pt;}
.w1{width:1465.333333pt;}
.w0{width:1608.861200pt;}
.x6{left:26.276307pt;}
.x9{left:30.513933pt;}
.x1{left:32.705833pt;}
.x19{left:44.969843pt;}
.x8{left:52.993935pt;}
.x16{left:56.601867pt;}
.xb{left:58.145833pt;}
.x17{left:59.796327pt;}
.xe{left:63.796327pt;}
.x10{left:68.402733pt;}
.x0{left:72.000000pt;}
.xd{left:80.601867pt;}
.x12{left:84.969843pt;}
.x14{left:86.513933pt;}
.x15{left:88.969843pt;}
.xf{left:90.513933pt;}
.x3{left:98.009841pt;}
.x13{left:104.601867pt;}
.x18{left:116.601867pt;}
.x11{left:124.969843pt;}
.xc{left:128.969843pt;}
.x1a{left:140.601867pt;}
.x2{left:213.291733pt;}
.x4{left:615.898133pt;}
.x5{left:921.768533pt;}
.x7{left:1106.027733pt;}
.xa{left:1343.722267pt;}
}
