.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.886393;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(200,29,49),0 0.015em rgb(200,29,49),0.015em 0 rgb(200,29,49),0 -0.015em  rgb(200,29,49);}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(200,29,49);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(200,29,49);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs2{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y32{bottom:10.580958px;}
.y26{bottom:10.580962px;}
.y34{bottom:10.580968px;}
.y28{bottom:10.580971px;}
.y36{bottom:10.580978px;}
.y2a{bottom:10.580981px;}
.yc{bottom:10.580987px;}
.ye{bottom:10.580997px;}
.y2c{bottom:10.581029px;}
.y20{bottom:10.581033px;}
.y10{bottom:10.581037px;}
.y2e{bottom:10.581039px;}
.y22{bottom:10.581042px;}
.y17{bottom:10.581045px;}
.y12{bottom:10.581047px;}
.y30{bottom:10.581049px;}
.y24{bottom:10.581052px;}
.y14{bottom:10.581056px;}
.y1a{bottom:10.581065px;}
.y1c{bottom:10.581074px;}
.ya{bottom:10.581078px;}
.y8{bottom:10.581083px;}
.y1e{bottom:10.581084px;}
.y6{bottom:10.581089px;}
.y4{bottom:42.564071px;}
.y2{bottom:49.997942px;}
.y3{bottom:57.144927px;}
.y0{bottom:71.500000px;}
.y38{bottom:72.250006px;}
.y37{bottom:102.342606px;}
.y35{bottom:132.435206px;}
.y33{bottom:162.527806px;}
.y31{bottom:192.620406px;}
.y2f{bottom:222.712906px;}
.y2d{bottom:252.805506px;}
.y2b{bottom:282.898106px;}
.y29{bottom:312.990806px;}
.y27{bottom:343.083406px;}
.y25{bottom:373.176006px;}
.y23{bottom:403.268506px;}
.y21{bottom:433.361106px;}
.y1f{bottom:463.453706px;}
.y1d{bottom:493.546306px;}
.y1b{bottom:523.638906px;}
.y19{bottom:553.731506px;}
.y18{bottom:583.824106px;}
.y16{bottom:613.916706px;}
.y15{bottom:644.009306px;}
.y13{bottom:674.101906px;}
.y11{bottom:704.194506px;}
.yf{bottom:734.287106px;}
.yd{bottom:764.379706px;}
.yb{bottom:794.472306px;}
.y9{bottom:824.564806px;}
.y7{bottom:854.657406px;}
.y5{bottom:884.750006px;}
.y1{bottom:914.842606px;}
.h7{height:29.592500px;}
.h5{height:29.592600px;}
.h8{height:33.450625px;}
.h6{height:35.535000px;}
.h4{height:36.359375px;}
.h3{height:42.540469px;}
.h2{height:112.848800px;}
.h1{height:957.000000px;}
.h0{height:1099.941400px;}
.w2{width:105.218800px;}
.w5{width:113.510400px;}
.w7{width:125.257000px;}
.w6{width:161.878500px;}
.w4{width:237.194400px;}
.w3{width:262.760400px;}
.w1{width:1009.500000px;}
.w0{width:1116.819500px;}
.x6{left:7.615218px;}
.xb{left:9.978455px;}
.x9{left:11.939291px;}
.x12{left:16.477160px;}
.x19{left:18.220150px;}
.x16{left:21.997179px;}
.x1{left:24.529375px;}
.x14{left:26.500164px;}
.xe{left:30.277178px;}
.x8{left:31.799292px;}
.x18{left:34.675216px;}
.xf{left:37.435165px;}
.x17{left:38.557177px;}
.x1e{left:40.548462px;}
.x11{left:43.308472px;}
.xc{left:44.329376px;}
.x23{left:45.820156px;}
.x15{left:51.340160px;}
.x0{left:54.000000px;}
.x4{left:58.927172px;}
.x10{left:61.619284px;}
.x21{left:65.140148px;}
.x13{left:66.157183px;}
.x26{left:67.900158px;}
.x24{left:70.660167px;}
.x1a{left:71.677172px;}
.x27{left:73.420147px;}
.x1d{left:78.940151px;}
.x25{left:81.700161px;}
.x28{left:82.717181px;}
.x20{left:84.460155px;}
.x1c{left:85.477190px;}
.x1b{left:87.220150px;}
.x29{left:89.980144px;}
.xd{left:92.740154px;}
.x2a{left:95.500148px;}
.x1f{left:96.517168px;}
.x22{left:110.317187px;}
.x2{left:159.968800px;}
.x3{left:423.229200px;}
.x5{left:660.923600px;}
.x7{left:774.934000px;}
.xa{left:937.312500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y32{bottom:14.107944pt;}
.y26{bottom:14.107949pt;}
.y34{bottom:14.107957pt;}
.y28{bottom:14.107961pt;}
.y36{bottom:14.107971pt;}
.y2a{bottom:14.107975pt;}
.yc{bottom:14.107983pt;}
.ye{bottom:14.107996pt;}
.y2c{bottom:14.108039pt;}
.y20{bottom:14.108044pt;}
.y10{bottom:14.108049pt;}
.y2e{bottom:14.108052pt;}
.y22{bottom:14.108056pt;}
.y17{bottom:14.108060pt;}
.y12{bottom:14.108063pt;}
.y30{bottom:14.108065pt;}
.y24{bottom:14.108069pt;}
.y14{bottom:14.108075pt;}
.y1a{bottom:14.108087pt;}
.y1c{bottom:14.108099pt;}
.ya{bottom:14.108104pt;}
.y8{bottom:14.108111pt;}
.y1e{bottom:14.108112pt;}
.y6{bottom:14.108119pt;}
.y4{bottom:56.752095pt;}
.y2{bottom:66.663923pt;}
.y3{bottom:76.193236pt;}
.y0{bottom:95.333333pt;}
.y38{bottom:96.333342pt;}
.y37{bottom:136.456808pt;}
.y35{bottom:176.580275pt;}
.y33{bottom:216.703742pt;}
.y31{bottom:256.827208pt;}
.y2f{bottom:296.950542pt;}
.y2d{bottom:337.074008pt;}
.y2b{bottom:377.197475pt;}
.y29{bottom:417.321075pt;}
.y27{bottom:457.444542pt;}
.y25{bottom:497.568008pt;}
.y23{bottom:537.691342pt;}
.y21{bottom:577.814808pt;}
.y1f{bottom:617.938275pt;}
.y1d{bottom:658.061742pt;}
.y1b{bottom:698.185208pt;}
.y19{bottom:738.308675pt;}
.y18{bottom:778.432142pt;}
.y16{bottom:818.555608pt;}
.y15{bottom:858.679075pt;}
.y13{bottom:898.802542pt;}
.y11{bottom:938.926008pt;}
.yf{bottom:979.049475pt;}
.yd{bottom:1019.172942pt;}
.yb{bottom:1059.296408pt;}
.y9{bottom:1099.419742pt;}
.y7{bottom:1139.543208pt;}
.y5{bottom:1179.666675pt;}
.y1{bottom:1219.790142pt;}
.h7{height:39.456667pt;}
.h5{height:39.456800pt;}
.h8{height:44.600833pt;}
.h6{height:47.380000pt;}
.h4{height:48.479167pt;}
.h3{height:56.720625pt;}
.h2{height:150.465067pt;}
.h1{height:1276.000000pt;}
.h0{height:1466.588533pt;}
.w2{width:140.291733pt;}
.w5{width:151.347200pt;}
.w7{width:167.009333pt;}
.w6{width:215.838000pt;}
.w4{width:316.259200pt;}
.w3{width:350.347200pt;}
.w1{width:1346.000000pt;}
.w0{width:1489.092667pt;}
.x6{left:10.153624pt;}
.xb{left:13.304607pt;}
.x9{left:15.919055pt;}
.x12{left:21.969547pt;}
.x19{left:24.293533pt;}
.x16{left:29.329572pt;}
.x1{left:32.705833pt;}
.x14{left:35.333552pt;}
.xe{left:40.369571pt;}
.x8{left:42.399056pt;}
.x18{left:46.233621pt;}
.xf{left:49.913553pt;}
.x17{left:51.409569pt;}
.x1e{left:54.064616pt;}
.x11{left:57.744629pt;}
.xc{left:59.105835pt;}
.x23{left:61.093541pt;}
.x15{left:68.453547pt;}
.x0{left:72.000000pt;}
.x4{left:78.569563pt;}
.x10{left:82.159045pt;}
.x21{left:86.853531pt;}
.x13{left:88.209577pt;}
.x26{left:90.533544pt;}
.x24{left:94.213556pt;}
.x1a{left:95.569563pt;}
.x27{left:97.893529pt;}
.x1d{left:105.253535pt;}
.x25{left:108.933548pt;}
.x28{left:110.289575pt;}
.x20{left:112.613540pt;}
.x1c{left:113.969587pt;}
.x1b{left:116.293533pt;}
.x29{left:119.973525pt;}
.xd{left:123.653539pt;}
.x2a{left:127.333531pt;}
.x1f{left:128.689557pt;}
.x22{left:147.089583pt;}
.x2{left:213.291733pt;}
.x3{left:564.305600pt;}
.x5{left:881.231467pt;}
.x7{left:1033.245333pt;}
.xa{left:1249.750000pt;}
}
