.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.890299;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y2a{bottom:10.339799px;}
.y2c{bottom:10.339808px;}
.y2e{bottom:10.339818px;}
.y22{bottom:10.339821px;}
.y30{bottom:10.339828px;}
.y24{bottom:10.339831px;}
.y32{bottom:10.339837px;}
.y26{bottom:10.339841px;}
.y34{bottom:10.339847px;}
.y36{bottom:10.339857px;}
.y6{bottom:10.339860px;}
.y8{bottom:10.339862px;}
.ya{bottom:10.339872px;}
.yc{bottom:10.339881px;}
.y10{bottom:10.339886px;}
.y28{bottom:10.339889px;}
.ye{bottom:10.339891px;}
.y12{bottom:10.339895px;}
.y14{bottom:10.339905px;}
.y16{bottom:10.339915px;}
.y18{bottom:10.339924px;}
.y1a{bottom:10.339934px;}
.y1c{bottom:10.339944px;}
.y1e{bottom:10.339953px;}
.y4{bottom:21.499190px;}
.y2{bottom:28.933057px;}
.y3{bottom:36.080046px;}
.y0{bottom:71.500000px;}
.y35{bottom:72.249926px;}
.y33{bottom:102.342526px;}
.y31{bottom:132.435126px;}
.y2f{bottom:162.527726px;}
.y2d{bottom:192.620326px;}
.y2b{bottom:222.712926px;}
.y29{bottom:252.805526px;}
.y27{bottom:282.898026px;}
.y25{bottom:312.990726px;}
.y23{bottom:343.083326px;}
.y21{bottom:373.175926px;}
.y20{bottom:403.268526px;}
.y1f{bottom:433.361126px;}
.y1d{bottom:463.453626px;}
.y1b{bottom:493.546226px;}
.y19{bottom:523.638826px;}
.y17{bottom:553.731426px;}
.y15{bottom:583.824026px;}
.y13{bottom:613.916626px;}
.y11{bottom:644.009226px;}
.yf{bottom:674.101826px;}
.yd{bottom:704.194426px;}
.yb{bottom:734.287026px;}
.y9{bottom:764.379626px;}
.y7{bottom:794.472226px;}
.y5{bottom:824.564826px;}
.y1{bottom:854.657426px;}
.h6{height:29.592500px;}
.h5{height:29.592600px;}
.h4{height:36.359375px;}
.h3{height:42.540469px;}
.h2{height:70.719100px;}
.h1{height:854.500000px;}
.h0{height:997.626500px;}
.w2{width:105.218800px;}
.w5{width:137.694400px;}
.w7{width:144.604200px;}
.w6{width:177.770800px;}
.w4{width:269.670200px;}
.w3{width:301.454800px;}
.w1{width:1140.000000px;}
.w0{width:1247.413200px;}
.x7{left:19.707164px;}
.xa{left:22.885445px;}
.x1{left:24.529375px;}
.x1b{left:27.727382px;}
.x1e{left:36.727382px;}
.x9{left:39.745446px;}
.xc{left:43.609375px;}
.x16{left:44.847179px;}
.xf{left:47.847179px;}
.x11{left:51.302084px;}
.x0{left:54.000000px;}
.xe{left:56.835067px;}
.x19{left:60.727382px;}
.x18{left:63.727382px;}
.x10{left:64.885445px;}
.x13{left:67.885445px;}
.x1a{left:71.835067px;}
.x3{left:73.507381px;}
.x5{left:75.165084px;}
.x20{left:78.727382px;}
.x14{left:84.727382px;}
.x1f{left:86.835067px;}
.xd{left:90.727382px;}
.x15{left:93.727382px;}
.x1c{left:96.727382px;}
.x17{left:99.727382px;}
.x12{left:102.727382px;}
.x1d{left:107.835067px;}
.x2{left:159.968800px;}
.x4{left:461.923600px;}
.x6{left:732.093800px;}
.x8{left:870.288200px;}
.xb{left:1048.559000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y2a{bottom:13.786399pt;}
.y2c{bottom:13.786411pt;}
.y2e{bottom:13.786424pt;}
.y22{bottom:13.786428pt;}
.y30{bottom:13.786437pt;}
.y24{bottom:13.786441pt;}
.y32{bottom:13.786449pt;}
.y26{bottom:13.786455pt;}
.y34{bottom:13.786463pt;}
.y36{bottom:13.786476pt;}
.y6{bottom:13.786480pt;}
.y8{bottom:13.786483pt;}
.ya{bottom:13.786496pt;}
.yc{bottom:13.786508pt;}
.y10{bottom:13.786515pt;}
.y28{bottom:13.786519pt;}
.ye{bottom:13.786521pt;}
.y12{bottom:13.786527pt;}
.y14{bottom:13.786540pt;}
.y16{bottom:13.786553pt;}
.y18{bottom:13.786565pt;}
.y1a{bottom:13.786579pt;}
.y1c{bottom:13.786592pt;}
.y1e{bottom:13.786604pt;}
.y4{bottom:28.665587pt;}
.y2{bottom:38.577409pt;}
.y3{bottom:48.106728pt;}
.y0{bottom:95.333333pt;}
.y35{bottom:96.333235pt;}
.y33{bottom:136.456701pt;}
.y31{bottom:176.580168pt;}
.y2f{bottom:216.703635pt;}
.y2d{bottom:256.827101pt;}
.y2b{bottom:296.950568pt;}
.y29{bottom:337.074035pt;}
.y27{bottom:377.197368pt;}
.y25{bottom:417.320968pt;}
.y23{bottom:457.444435pt;}
.y21{bottom:497.567901pt;}
.y20{bottom:537.691368pt;}
.y1f{bottom:577.814835pt;}
.y1d{bottom:617.938168pt;}
.y1b{bottom:658.061635pt;}
.y19{bottom:698.185101pt;}
.y17{bottom:738.308568pt;}
.y15{bottom:778.432035pt;}
.y13{bottom:818.555501pt;}
.y11{bottom:858.678968pt;}
.yf{bottom:898.802435pt;}
.yd{bottom:938.925901pt;}
.yb{bottom:979.049368pt;}
.y9{bottom:1019.172835pt;}
.y7{bottom:1059.296301pt;}
.y5{bottom:1099.419768pt;}
.y1{bottom:1139.543235pt;}
.h6{height:39.456667pt;}
.h5{height:39.456800pt;}
.h4{height:48.479167pt;}
.h3{height:56.720625pt;}
.h2{height:94.292133pt;}
.h1{height:1139.333333pt;}
.h0{height:1330.168667pt;}
.w2{width:140.291733pt;}
.w5{width:183.592533pt;}
.w7{width:192.805600pt;}
.w6{width:237.027733pt;}
.w4{width:359.560267pt;}
.w3{width:401.939733pt;}
.w1{width:1520.000000pt;}
.w0{width:1663.217600pt;}
.x7{left:26.276219pt;}
.xa{left:30.513927pt;}
.x1{left:32.705833pt;}
.x1b{left:36.969843pt;}
.x1e{left:48.969843pt;}
.x9{left:52.993928pt;}
.xc{left:58.145833pt;}
.x16{left:59.796239pt;}
.xf{left:63.796239pt;}
.x11{left:68.402779pt;}
.x0{left:72.000000pt;}
.xe{left:75.780089pt;}
.x19{left:80.969843pt;}
.x18{left:84.969843pt;}
.x10{left:86.513927pt;}
.x13{left:90.513927pt;}
.x1a{left:95.780089pt;}
.x3{left:98.009841pt;}
.x5{left:100.220112pt;}
.x20{left:104.969843pt;}
.x14{left:112.969843pt;}
.x1f{left:115.780089pt;}
.xd{left:120.969843pt;}
.x15{left:124.969843pt;}
.x1c{left:128.969843pt;}
.x17{left:132.969843pt;}
.x12{left:136.969843pt;}
.x1d{left:143.780089pt;}
.x2{left:213.291733pt;}
.x4{left:615.898133pt;}
.x6{left:976.125067pt;}
.x8{left:1160.384267pt;}
.xb{left:1398.078667pt;}
}
