.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y2a{bottom:10.339799px;}
.y2c{bottom:10.339808px;}
.y2e{bottom:10.339818px;}
.y22{bottom:10.339821px;}
.y30{bottom:10.339828px;}
.y24{bottom:10.339831px;}
.y26{bottom:10.339841px;}
.y6{bottom:10.339860px;}
.y8{bottom:10.339862px;}
.ya{bottom:10.339872px;}
.yc{bottom:10.339881px;}
.y10{bottom:10.339886px;}
.y28{bottom:10.339889px;}
.ye{bottom:10.339891px;}
.y12{bottom:10.339895px;}
.y14{bottom:10.339905px;}
.y16{bottom:10.339915px;}
.y18{bottom:10.339924px;}
.y1a{bottom:10.339934px;}
.y1c{bottom:10.339944px;}
.y1e{bottom:10.339953px;}
.y4{bottom:21.499190px;}
.y2{bottom:28.933057px;}
.y3{bottom:36.080046px;}
.y0{bottom:71.500000px;}
.y2f{bottom:72.249955px;}
.y2d{bottom:102.342555px;}
.y2b{bottom:132.435155px;}
.y29{bottom:162.527755px;}
.y27{bottom:192.620255px;}
.y25{bottom:222.712955px;}
.y23{bottom:252.805555px;}
.y21{bottom:282.898155px;}
.y20{bottom:312.990755px;}
.y1f{bottom:343.083355px;}
.y1d{bottom:373.175855px;}
.y1b{bottom:403.268455px;}
.y19{bottom:433.361055px;}
.y17{bottom:463.453655px;}
.y15{bottom:493.546255px;}
.y13{bottom:523.638855px;}
.y11{bottom:553.731455px;}
.yf{bottom:583.824055px;}
.yd{bottom:613.916655px;}
.yb{bottom:644.009255px;}
.y9{bottom:674.101855px;}
.y7{bottom:704.194455px;}
.y5{bottom:734.287055px;}
.y1{bottom:764.379655px;}
.h6{height:29.592500px;}
.h5{height:29.592600px;}
.h4{height:38.625000px;}
.h3{height:45.191250px;}
.h2{height:70.719100px;}
.h1{height:764.500000px;}
.h0{height:907.348800px;}
.w2{width:105.218800px;}
.w5{width:137.694400px;}
.w7{width:144.604200px;}
.w6{width:177.770800px;}
.w4{width:269.670200px;}
.w3{width:301.454800px;}
.w1{width:1140.000000px;}
.w0{width:1247.413200px;}
.x7{left:19.707164px;}
.xa{left:22.885445px;}
.x1{left:24.529375px;}
.x1e{left:33.727382px;}
.x9{left:39.745446px;}
.xe{left:41.835067px;}
.xc{left:43.609375px;}
.x16{left:44.847179px;}
.xf{left:47.847179px;}
.x11{left:51.302084px;}
.x0{left:54.000000px;}
.x18{left:63.727382px;}
.x10{left:64.885445px;}
.x14{left:67.885445px;}
.x1b{left:69.727382px;}
.x1a{left:71.835067px;}
.x3{left:73.507381px;}
.x5{left:75.165084px;}
.x17{left:81.727382px;}
.x1c{left:84.727382px;}
.x15{left:87.727382px;}
.x12{left:93.727382px;}
.x13{left:96.727382px;}
.xd{left:99.727382px;}
.x1f{left:101.835067px;}
.x19{left:104.835067px;}
.x20{left:122.835067px;}
.x1d{left:125.835067px;}
.x2{left:159.968800px;}
.x4{left:461.923600px;}
.x6{left:732.093800px;}
.x8{left:870.288200px;}
.xb{left:1048.559000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y2a{bottom:13.786399pt;}
.y2c{bottom:13.786411pt;}
.y2e{bottom:13.786424pt;}
.y22{bottom:13.786428pt;}
.y30{bottom:13.786437pt;}
.y24{bottom:13.786441pt;}
.y26{bottom:13.786455pt;}
.y6{bottom:13.786480pt;}
.y8{bottom:13.786483pt;}
.ya{bottom:13.786496pt;}
.yc{bottom:13.786508pt;}
.y10{bottom:13.786515pt;}
.y28{bottom:13.786519pt;}
.ye{bottom:13.786521pt;}
.y12{bottom:13.786527pt;}
.y14{bottom:13.786540pt;}
.y16{bottom:13.786553pt;}
.y18{bottom:13.786565pt;}
.y1a{bottom:13.786579pt;}
.y1c{bottom:13.786592pt;}
.y1e{bottom:13.786604pt;}
.y4{bottom:28.665587pt;}
.y2{bottom:38.577409pt;}
.y3{bottom:48.106728pt;}
.y0{bottom:95.333333pt;}
.y2f{bottom:96.333273pt;}
.y2d{bottom:136.456740pt;}
.y2b{bottom:176.580207pt;}
.y29{bottom:216.703673pt;}
.y27{bottom:256.827007pt;}
.y25{bottom:296.950607pt;}
.y23{bottom:337.074073pt;}
.y21{bottom:377.197540pt;}
.y20{bottom:417.321007pt;}
.y1f{bottom:457.444473pt;}
.y1d{bottom:497.567807pt;}
.y1b{bottom:537.691273pt;}
.y19{bottom:577.814740pt;}
.y17{bottom:617.938207pt;}
.y15{bottom:658.061673pt;}
.y13{bottom:698.185140pt;}
.y11{bottom:738.308607pt;}
.yf{bottom:778.432073pt;}
.yd{bottom:818.555540pt;}
.yb{bottom:858.679007pt;}
.y9{bottom:898.802473pt;}
.y7{bottom:938.925940pt;}
.y5{bottom:979.049407pt;}
.y1{bottom:1019.172873pt;}
.h6{height:39.456667pt;}
.h5{height:39.456800pt;}
.h4{height:51.500000pt;}
.h3{height:60.255000pt;}
.h2{height:94.292133pt;}
.h1{height:1019.333333pt;}
.h0{height:1209.798400pt;}
.w2{width:140.291733pt;}
.w5{width:183.592533pt;}
.w7{width:192.805600pt;}
.w6{width:237.027733pt;}
.w4{width:359.560267pt;}
.w3{width:401.939733pt;}
.w1{width:1520.000000pt;}
.w0{width:1663.217600pt;}
.x7{left:26.276219pt;}
.xa{left:30.513927pt;}
.x1{left:32.705833pt;}
.x1e{left:44.969843pt;}
.x9{left:52.993928pt;}
.xe{left:55.780089pt;}
.xc{left:58.145833pt;}
.x16{left:59.796239pt;}
.xf{left:63.796239pt;}
.x11{left:68.402779pt;}
.x0{left:72.000000pt;}
.x18{left:84.969843pt;}
.x10{left:86.513927pt;}
.x14{left:90.513927pt;}
.x1b{left:92.969843pt;}
.x1a{left:95.780089pt;}
.x3{left:98.009841pt;}
.x5{left:100.220112pt;}
.x17{left:108.969843pt;}
.x1c{left:112.969843pt;}
.x15{left:116.969843pt;}
.x12{left:124.969843pt;}
.x13{left:128.969843pt;}
.xd{left:132.969843pt;}
.x1f{left:135.780089pt;}
.x19{left:139.780089pt;}
.x20{left:163.780089pt;}
.x1d{left:167.780089pt;}
.x2{left:213.291733pt;}
.x4{left:615.898133pt;}
.x6{left:976.125067pt;}
.x8{left:1160.384267pt;}
.xb{left:1398.078667pt;}
}
