.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.886393;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs2{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y32{bottom:10.580958px;}
.y26{bottom:10.580962px;}
.y34{bottom:10.580968px;}
.y28{bottom:10.580971px;}
.y36{bottom:10.580978px;}
.y2a{bottom:10.580981px;}
.yc{bottom:10.580987px;}
.ye{bottom:10.580997px;}
.y3a{bottom:10.581007px;}
.y3c{bottom:10.581017px;}
.y3e{bottom:10.581026px;}
.y2c{bottom:10.581029px;}
.y20{bottom:10.581033px;}
.y10{bottom:10.581037px;}
.y2e{bottom:10.581039px;}
.y22{bottom:10.581042px;}
.y17{bottom:10.581045px;}
.y12{bottom:10.581047px;}
.y30{bottom:10.581049px;}
.y24{bottom:10.581052px;}
.y14{bottom:10.581056px;}
.y1a{bottom:10.581065px;}
.y1c{bottom:10.581074px;}
.ya{bottom:10.581078px;}
.y8{bottom:10.581083px;}
.y1e{bottom:10.581084px;}
.y6{bottom:10.581089px;}
.y4c{bottom:10.581155px;}
.y42{bottom:10.581168px;}
.y46{bottom:10.581187px;}
.y40{bottom:10.581197px;}
.y4a{bottom:10.581206px;}
.y44{bottom:10.581216px;}
.y4e{bottom:10.581226px;}
.y48{bottom:10.581236px;}
.y4{bottom:42.564071px;}
.y2{bottom:49.997942px;}
.y3{bottom:57.144927px;}
.y0{bottom:71.500000px;}
.y4d{bottom:72.249839px;}
.y4b{bottom:102.342439px;}
.y49{bottom:132.435039px;}
.y47{bottom:162.527539px;}
.y45{bottom:192.620239px;}
.y43{bottom:222.712739px;}
.y41{bottom:252.805439px;}
.y3f{bottom:282.897939px;}
.y3d{bottom:312.990639px;}
.y3b{bottom:343.083239px;}
.y39{bottom:373.175839px;}
.y38{bottom:403.268439px;}
.y37{bottom:433.361039px;}
.y35{bottom:463.453639px;}
.y33{bottom:493.546239px;}
.y31{bottom:523.638839px;}
.y2f{bottom:553.731339px;}
.y2d{bottom:583.823939px;}
.y2b{bottom:613.916539px;}
.y29{bottom:644.009239px;}
.y27{bottom:674.101839px;}
.y25{bottom:704.194439px;}
.y23{bottom:734.286939px;}
.y21{bottom:764.379539px;}
.y1f{bottom:794.472139px;}
.y1d{bottom:824.564739px;}
.y1b{bottom:854.657339px;}
.y19{bottom:884.749939px;}
.y18{bottom:914.842539px;}
.y16{bottom:944.935139px;}
.y15{bottom:975.027739px;}
.y13{bottom:1005.120339px;}
.y11{bottom:1035.212939px;}
.yf{bottom:1065.305539px;}
.yd{bottom:1095.398139px;}
.yb{bottom:1125.490739px;}
.y9{bottom:1155.583239px;}
.y7{bottom:1185.675839px;}
.y5{bottom:1215.768439px;}
.y1{bottom:1245.861039px;}
.h7{height:29.592500px;}
.h5{height:29.592600px;}
.h8{height:29.592700px;}
.h6{height:35.535000px;}
.h4{height:36.359375px;}
.h3{height:42.540469px;}
.h2{height:112.848800px;}
.h1{height:1288.000000px;}
.h0{height:1430.959800px;}
.w2{width:105.218800px;}
.w5{width:127.329900px;}
.w7{width:144.604200px;}
.w6{width:161.878500px;}
.w4{width:225.447900px;}
.w3{width:301.454800px;}
.w1{width:1069.500000px;}
.w0{width:1176.934100px;}
.x6{left:14.524984px;}
.xa{left:19.652134px;}
.x1f{left:21.007381px;}
.x1{left:24.529375px;}
.x8{left:31.799226px;}
.x15{left:34.807384px;}
.x14{left:40.327373px;}
.x19{left:41.584982px;}
.x26{left:43.087383px;}
.xb{left:44.329376px;}
.x1e{left:46.483993px;}
.x1a{left:50.222141px;}
.xf{left:52.982090px;}
.x0{left:54.000000px;}
.x25{left:56.887386px;}
.xe{left:58.859269px;}
.x1d{left:60.283981px;}
.x12{left:61.619279px;}
.xd{left:65.803970px;}
.x20{left:67.927379px;}
.x24{left:70.687389px;}
.x3{left:73.507381px;}
.x18{left:76.207378px;}
.x10{left:78.967388px;}
.x1c{left:81.727382px;}
.x11{left:84.487377px;}
.x13{left:87.247387px;}
.x16{left:90.007381px;}
.x17{left:92.767376px;}
.x1b{left:98.287380px;}
.xc{left:101.047374px;}
.x23{left:104.443954px;}
.x21{left:106.567379px;}
.x22{left:112.087383px;}
.x2{left:159.968800px;}
.x4{left:461.923600px;}
.x5{left:687.871500px;}
.x7{left:815.701400px;}
.x9{left:978.079800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y32{bottom:14.107944pt;}
.y26{bottom:14.107949pt;}
.y34{bottom:14.107957pt;}
.y28{bottom:14.107961pt;}
.y36{bottom:14.107971pt;}
.y2a{bottom:14.107975pt;}
.yc{bottom:14.107983pt;}
.ye{bottom:14.107996pt;}
.y3a{bottom:14.108009pt;}
.y3c{bottom:14.108023pt;}
.y3e{bottom:14.108035pt;}
.y2c{bottom:14.108039pt;}
.y20{bottom:14.108044pt;}
.y10{bottom:14.108049pt;}
.y2e{bottom:14.108052pt;}
.y22{bottom:14.108056pt;}
.y17{bottom:14.108060pt;}
.y12{bottom:14.108063pt;}
.y30{bottom:14.108065pt;}
.y24{bottom:14.108069pt;}
.y14{bottom:14.108075pt;}
.y1a{bottom:14.108087pt;}
.y1c{bottom:14.108099pt;}
.ya{bottom:14.108104pt;}
.y8{bottom:14.108111pt;}
.y1e{bottom:14.108112pt;}
.y6{bottom:14.108119pt;}
.y4c{bottom:14.108207pt;}
.y42{bottom:14.108224pt;}
.y46{bottom:14.108249pt;}
.y40{bottom:14.108263pt;}
.y4a{bottom:14.108275pt;}
.y44{bottom:14.108288pt;}
.y4e{bottom:14.108301pt;}
.y48{bottom:14.108315pt;}
.y4{bottom:56.752095pt;}
.y2{bottom:66.663923pt;}
.y3{bottom:76.193236pt;}
.y0{bottom:95.333333pt;}
.y4d{bottom:96.333118pt;}
.y4b{bottom:136.456585pt;}
.y49{bottom:176.580052pt;}
.y47{bottom:216.703385pt;}
.y45{bottom:256.826985pt;}
.y43{bottom:296.950318pt;}
.y41{bottom:337.073918pt;}
.y3f{bottom:377.197252pt;}
.y3d{bottom:417.320852pt;}
.y3b{bottom:457.444318pt;}
.y39{bottom:497.567785pt;}
.y38{bottom:537.691252pt;}
.y37{bottom:577.814718pt;}
.y35{bottom:617.938185pt;}
.y33{bottom:658.061652pt;}
.y31{bottom:698.185118pt;}
.y2f{bottom:738.308452pt;}
.y2d{bottom:778.431918pt;}
.y2b{bottom:818.555385pt;}
.y29{bottom:858.678985pt;}
.y27{bottom:898.802452pt;}
.y25{bottom:938.925918pt;}
.y23{bottom:979.049252pt;}
.y21{bottom:1019.172718pt;}
.y1f{bottom:1059.296185pt;}
.y1d{bottom:1099.419652pt;}
.y1b{bottom:1139.543118pt;}
.y19{bottom:1179.666585pt;}
.y18{bottom:1219.790052pt;}
.y16{bottom:1259.913518pt;}
.y15{bottom:1300.036985pt;}
.y13{bottom:1340.160452pt;}
.y11{bottom:1380.283918pt;}
.yf{bottom:1420.407385pt;}
.yd{bottom:1460.530852pt;}
.yb{bottom:1500.654318pt;}
.y9{bottom:1540.777652pt;}
.y7{bottom:1580.901118pt;}
.y5{bottom:1621.024585pt;}
.y1{bottom:1661.148052pt;}
.h7{height:39.456667pt;}
.h5{height:39.456800pt;}
.h8{height:39.456933pt;}
.h6{height:47.380000pt;}
.h4{height:48.479167pt;}
.h3{height:56.720625pt;}
.h2{height:150.465067pt;}
.h1{height:1717.333333pt;}
.h0{height:1907.946400pt;}
.w2{width:140.291733pt;}
.w5{width:169.773200pt;}
.w7{width:192.805600pt;}
.w6{width:215.838000pt;}
.w4{width:300.597200pt;}
.w3{width:401.939733pt;}
.w1{width:1426.000000pt;}
.w0{width:1569.245467pt;}
.x6{left:19.366645pt;}
.xa{left:26.202845pt;}
.x1f{left:28.009841pt;}
.x1{left:32.705833pt;}
.x8{left:42.398968pt;}
.x15{left:46.409845pt;}
.x14{left:53.769831pt;}
.x19{left:55.446643pt;}
.x26{left:57.449844pt;}
.xb{left:59.105835pt;}
.x1e{left:61.978657pt;}
.x1a{left:66.962855pt;}
.xf{left:70.642787pt;}
.x0{left:72.000000pt;}
.x25{left:75.849848pt;}
.xe{left:78.479025pt;}
.x1d{left:80.378641pt;}
.x12{left:82.159039pt;}
.xd{left:87.738627pt;}
.x20{left:90.569839pt;}
.x24{left:94.249852pt;}
.x3{left:98.009841pt;}
.x18{left:101.609837pt;}
.x10{left:105.289851pt;}
.x1c{left:108.969843pt;}
.x11{left:112.649836pt;}
.x13{left:116.329849pt;}
.x16{left:120.009841pt;}
.x17{left:123.689835pt;}
.x1b{left:131.049840pt;}
.xc{left:134.729832pt;}
.x23{left:139.258605pt;}
.x21{left:142.089839pt;}
.x22{left:149.449844pt;}
.x2{left:213.291733pt;}
.x4{left:615.898133pt;}
.x5{left:917.162000pt;}
.x7{left:1087.601867pt;}
.x9{left:1304.106400pt;}
}
