.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.886393;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.847656;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs2{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y32{bottom:10.580958px;}
.y26{bottom:10.580962px;}
.y34{bottom:10.580968px;}
.y28{bottom:10.580971px;}
.y36{bottom:10.580978px;}
.y2a{bottom:10.580981px;}
.yc{bottom:10.580987px;}
.ye{bottom:10.580997px;}
.y3a{bottom:10.581007px;}
.y3c{bottom:10.581017px;}
.y3e{bottom:10.581026px;}
.y2c{bottom:10.581029px;}
.y20{bottom:10.581033px;}
.y10{bottom:10.581037px;}
.y2e{bottom:10.581039px;}
.y22{bottom:10.581042px;}
.y17{bottom:10.581045px;}
.y12{bottom:10.581047px;}
.y30{bottom:10.581049px;}
.y24{bottom:10.581052px;}
.y14{bottom:10.581056px;}
.y1a{bottom:10.581065px;}
.y1c{bottom:10.581074px;}
.ya{bottom:10.581078px;}
.y8{bottom:10.581083px;}
.y1e{bottom:10.581084px;}
.y6{bottom:10.581089px;}
.y4c{bottom:10.581155px;}
.y42{bottom:10.581168px;}
.y46{bottom:10.581187px;}
.y40{bottom:10.581197px;}
.y4a{bottom:10.581206px;}
.y44{bottom:10.581216px;}
.y48{bottom:10.581236px;}
.y4{bottom:42.564071px;}
.y2{bottom:49.997942px;}
.y3{bottom:57.144927px;}
.y0{bottom:71.500000px;}
.y4b{bottom:72.249910px;}
.y49{bottom:102.342510px;}
.y47{bottom:132.435010px;}
.y45{bottom:162.527710px;}
.y43{bottom:192.620210px;}
.y41{bottom:222.712910px;}
.y3f{bottom:252.805410px;}
.y3d{bottom:282.898110px;}
.y3b{bottom:312.990710px;}
.y39{bottom:343.083310px;}
.y38{bottom:373.175910px;}
.y37{bottom:403.268510px;}
.y35{bottom:433.361110px;}
.y33{bottom:463.453710px;}
.y31{bottom:493.546310px;}
.y2f{bottom:523.638810px;}
.y2d{bottom:553.731410px;}
.y2b{bottom:583.824010px;}
.y29{bottom:613.916710px;}
.y27{bottom:644.009310px;}
.y25{bottom:674.101910px;}
.y23{bottom:704.194410px;}
.y21{bottom:734.287010px;}
.y1f{bottom:764.379610px;}
.y1d{bottom:794.472210px;}
.y1b{bottom:824.564810px;}
.y19{bottom:854.657410px;}
.y18{bottom:884.750010px;}
.y16{bottom:914.842610px;}
.y15{bottom:944.935210px;}
.y13{bottom:975.027810px;}
.y11{bottom:1005.120410px;}
.yf{bottom:1035.213010px;}
.yd{bottom:1065.305610px;}
.yb{bottom:1095.398210px;}
.y9{bottom:1125.490710px;}
.y7{bottom:1155.583310px;}
.y5{bottom:1185.675910px;}
.y1{bottom:1215.768510px;}
.h7{height:29.592500px;}
.h5{height:29.592600px;}
.h8{height:29.592700px;}
.h6{height:31.567500px;}
.h4{height:36.359375px;}
.h3{height:42.540469px;}
.h2{height:112.848800px;}
.h1{height:1258.000000px;}
.h0{height:1400.867300px;}
.w2{width:105.218800px;}
.w5{width:127.329900px;}
.w7{width:144.604200px;}
.w6{width:161.878500px;}
.w4{width:225.447900px;}
.w3{width:301.454800px;}
.w1{width:1069.500000px;}
.w0{width:1176.934100px;}
.x6{left:14.524984px;}
.xa{left:19.652134px;}
.x1{left:24.529375px;}
.x8{left:31.799226px;}
.xe{left:41.584982px;}
.xb{left:44.329376px;}
.x16{left:46.483993px;}
.x1c{left:48.607372px;}
.x20{left:50.222141px;}
.x1e{left:51.367382px;}
.x10{left:52.982090px;}
.x0{left:54.000000px;}
.x14{left:56.887386px;}
.x13{left:58.859269px;}
.x15{left:60.283981px;}
.xf{left:61.619279px;}
.x1d{left:67.927379px;}
.x17{left:70.687389px;}
.x3{left:73.507381px;}
.x1a{left:76.207378px;}
.xd{left:79.603988px;}
.xc{left:81.727382px;}
.x18{left:84.487377px;}
.x1b{left:87.247387px;}
.x19{left:90.007381px;}
.x1f{left:93.403976px;}
.x11{left:95.527385px;}
.x12{left:98.287395px;}
.x24{left:101.047374px;}
.x25{left:104.443954px;}
.x26{left:107.203963px;}
.x22{left:109.327373px;}
.x23{left:112.087383px;}
.x21{left:114.847377px;}
.x2{left:159.968800px;}
.x4{left:461.923600px;}
.x5{left:687.871500px;}
.x7{left:815.701400px;}
.x9{left:978.079800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y32{bottom:14.107944pt;}
.y26{bottom:14.107949pt;}
.y34{bottom:14.107957pt;}
.y28{bottom:14.107961pt;}
.y36{bottom:14.107971pt;}
.y2a{bottom:14.107975pt;}
.yc{bottom:14.107983pt;}
.ye{bottom:14.107996pt;}
.y3a{bottom:14.108009pt;}
.y3c{bottom:14.108023pt;}
.y3e{bottom:14.108035pt;}
.y2c{bottom:14.108039pt;}
.y20{bottom:14.108044pt;}
.y10{bottom:14.108049pt;}
.y2e{bottom:14.108052pt;}
.y22{bottom:14.108056pt;}
.y17{bottom:14.108060pt;}
.y12{bottom:14.108063pt;}
.y30{bottom:14.108065pt;}
.y24{bottom:14.108069pt;}
.y14{bottom:14.108075pt;}
.y1a{bottom:14.108087pt;}
.y1c{bottom:14.108099pt;}
.ya{bottom:14.108104pt;}
.y8{bottom:14.108111pt;}
.y1e{bottom:14.108112pt;}
.y6{bottom:14.108119pt;}
.y4c{bottom:14.108207pt;}
.y42{bottom:14.108224pt;}
.y46{bottom:14.108249pt;}
.y40{bottom:14.108263pt;}
.y4a{bottom:14.108275pt;}
.y44{bottom:14.108288pt;}
.y48{bottom:14.108315pt;}
.y4{bottom:56.752095pt;}
.y2{bottom:66.663923pt;}
.y3{bottom:76.193236pt;}
.y0{bottom:95.333333pt;}
.y4b{bottom:96.333213pt;}
.y49{bottom:136.456679pt;}
.y47{bottom:176.580013pt;}
.y45{bottom:216.703613pt;}
.y43{bottom:256.826946pt;}
.y41{bottom:296.950546pt;}
.y3f{bottom:337.073879pt;}
.y3d{bottom:377.197479pt;}
.y3b{bottom:417.320946pt;}
.y39{bottom:457.444413pt;}
.y38{bottom:497.567879pt;}
.y37{bottom:537.691346pt;}
.y35{bottom:577.814813pt;}
.y33{bottom:617.938279pt;}
.y31{bottom:658.061746pt;}
.y2f{bottom:698.185079pt;}
.y2d{bottom:738.308546pt;}
.y2b{bottom:778.432013pt;}
.y29{bottom:818.555613pt;}
.y27{bottom:858.679079pt;}
.y25{bottom:898.802546pt;}
.y23{bottom:938.925879pt;}
.y21{bottom:979.049346pt;}
.y1f{bottom:1019.172813pt;}
.y1d{bottom:1059.296279pt;}
.y1b{bottom:1099.419746pt;}
.y19{bottom:1139.543213pt;}
.y18{bottom:1179.666679pt;}
.y16{bottom:1219.790146pt;}
.y15{bottom:1259.913613pt;}
.y13{bottom:1300.037079pt;}
.y11{bottom:1340.160546pt;}
.yf{bottom:1380.284013pt;}
.yd{bottom:1420.407479pt;}
.yb{bottom:1460.530946pt;}
.y9{bottom:1500.654279pt;}
.y7{bottom:1540.777746pt;}
.y5{bottom:1580.901213pt;}
.y1{bottom:1621.024679pt;}
.h7{height:39.456667pt;}
.h5{height:39.456800pt;}
.h8{height:39.456933pt;}
.h6{height:42.090000pt;}
.h4{height:48.479167pt;}
.h3{height:56.720625pt;}
.h2{height:150.465067pt;}
.h1{height:1677.333333pt;}
.h0{height:1867.823067pt;}
.w2{width:140.291733pt;}
.w5{width:169.773200pt;}
.w7{width:192.805600pt;}
.w6{width:215.838000pt;}
.w4{width:300.597200pt;}
.w3{width:401.939733pt;}
.w1{width:1426.000000pt;}
.w0{width:1569.245467pt;}
.x6{left:19.366645pt;}
.xa{left:26.202845pt;}
.x1{left:32.705833pt;}
.x8{left:42.398968pt;}
.xe{left:55.446643pt;}
.xb{left:59.105835pt;}
.x16{left:61.978657pt;}
.x1c{left:64.809829pt;}
.x20{left:66.962855pt;}
.x1e{left:68.489843pt;}
.x10{left:70.642787pt;}
.x0{left:72.000000pt;}
.x14{left:75.849848pt;}
.x13{left:78.479025pt;}
.x15{left:80.378641pt;}
.xf{left:82.159039pt;}
.x1d{left:90.569839pt;}
.x17{left:94.249852pt;}
.x3{left:98.009841pt;}
.x1a{left:101.609837pt;}
.xd{left:106.138651pt;}
.xc{left:108.969843pt;}
.x18{left:112.649836pt;}
.x1b{left:116.329849pt;}
.x19{left:120.009841pt;}
.x1f{left:124.538635pt;}
.x11{left:127.369847pt;}
.x12{left:131.049860pt;}
.x24{left:134.729832pt;}
.x25{left:139.258605pt;}
.x26{left:142.938617pt;}
.x22{left:145.769831pt;}
.x23{left:149.449844pt;}
.x21{left:153.129836pt;}
.x2{left:213.291733pt;}
.x4{left:615.898133pt;}
.x5{left:917.162000pt;}
.x7{left:1087.601867pt;}
.x9{left:1304.106400pt;}
}
