.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.890299;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y2a{bottom:10.339799px;}
.y2c{bottom:10.339808px;}
.y2e{bottom:10.339818px;}
.y22{bottom:10.339821px;}
.y30{bottom:10.339828px;}
.y24{bottom:10.339831px;}
.y32{bottom:10.339837px;}
.y26{bottom:10.339841px;}
.y6{bottom:10.339860px;}
.y8{bottom:10.339862px;}
.ya{bottom:10.339872px;}
.yc{bottom:10.339881px;}
.y10{bottom:10.339886px;}
.y28{bottom:10.339889px;}
.ye{bottom:10.339891px;}
.y12{bottom:10.339895px;}
.y14{bottom:10.339905px;}
.y16{bottom:10.339915px;}
.y18{bottom:10.339924px;}
.y1a{bottom:10.339934px;}
.y1c{bottom:10.339944px;}
.y1e{bottom:10.339953px;}
.y4{bottom:21.499190px;}
.y2{bottom:28.933057px;}
.y3{bottom:36.080046px;}
.y0{bottom:71.500000px;}
.y31{bottom:72.249945px;}
.y2f{bottom:102.342545px;}
.y2d{bottom:132.435145px;}
.y2b{bottom:162.527745px;}
.y29{bottom:192.620345px;}
.y27{bottom:222.712845px;}
.y25{bottom:252.805545px;}
.y23{bottom:282.898145px;}
.y21{bottom:312.990745px;}
.y20{bottom:343.083345px;}
.y1f{bottom:373.175945px;}
.y1d{bottom:403.268445px;}
.y1b{bottom:433.361045px;}
.y19{bottom:463.453645px;}
.y17{bottom:493.546245px;}
.y15{bottom:523.638845px;}
.y13{bottom:553.731445px;}
.y11{bottom:583.824045px;}
.yf{bottom:613.916645px;}
.yd{bottom:644.009245px;}
.yb{bottom:674.101845px;}
.y9{bottom:704.194445px;}
.y7{bottom:734.287045px;}
.y5{bottom:764.379645px;}
.y1{bottom:794.472245px;}
.h6{height:29.592500px;}
.h5{height:29.592600px;}
.h4{height:36.359375px;}
.h3{height:42.540469px;}
.h2{height:70.719100px;}
.h1{height:794.500000px;}
.h0{height:937.441300px;}
.w2{width:105.218800px;}
.w5{width:137.694500px;}
.w6{width:144.604200px;}
.w7{width:177.770900px;}
.w4{width:228.902800px;}
.w3{width:301.454800px;}
.w1{width:1099.000000px;}
.w0{width:1206.645900px;}
.x1c{left:15.727382px;}
.x6{left:19.707230px;}
.x1{left:24.529375px;}
.x1b{left:30.727382px;}
.x15{left:33.451400px;}
.x9{left:39.745438px;}
.x1a{left:42.451400px;}
.xa{left:43.609375px;}
.xd{left:44.847245px;}
.xe{left:48.302076px;}
.x11{left:51.302076px;}
.x0{left:54.000000px;}
.xb{left:57.727382px;}
.x19{left:60.727382px;}
.x12{left:64.885437px;}
.xf{left:67.885437px;}
.x1e{left:69.727382px;}
.xc{left:72.451400px;}
.x3{left:73.507381px;}
.x10{left:75.727382px;}
.x21{left:81.727382px;}
.x14{left:84.727382px;}
.x18{left:87.727382px;}
.x1f{left:90.451400px;}
.x16{left:93.727382px;}
.x13{left:96.727382px;}
.x17{left:102.727382px;}
.x1d{left:105.451400px;}
.x20{left:117.727382px;}
.x22{left:141.727382px;}
.x2{left:159.968800px;}
.x4{left:461.923600px;}
.x5{left:691.326400px;}
.x7{left:829.520800px;}
.x8{left:974.625000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y2a{bottom:13.786399pt;}
.y2c{bottom:13.786411pt;}
.y2e{bottom:13.786424pt;}
.y22{bottom:13.786428pt;}
.y30{bottom:13.786437pt;}
.y24{bottom:13.786441pt;}
.y32{bottom:13.786449pt;}
.y26{bottom:13.786455pt;}
.y6{bottom:13.786480pt;}
.y8{bottom:13.786483pt;}
.ya{bottom:13.786496pt;}
.yc{bottom:13.786508pt;}
.y10{bottom:13.786515pt;}
.y28{bottom:13.786519pt;}
.ye{bottom:13.786521pt;}
.y12{bottom:13.786527pt;}
.y14{bottom:13.786540pt;}
.y16{bottom:13.786553pt;}
.y18{bottom:13.786565pt;}
.y1a{bottom:13.786579pt;}
.y1c{bottom:13.786592pt;}
.y1e{bottom:13.786604pt;}
.y4{bottom:28.665587pt;}
.y2{bottom:38.577409pt;}
.y3{bottom:48.106728pt;}
.y0{bottom:95.333333pt;}
.y31{bottom:96.333260pt;}
.y2f{bottom:136.456727pt;}
.y2d{bottom:176.580194pt;}
.y2b{bottom:216.703660pt;}
.y29{bottom:256.827127pt;}
.y27{bottom:296.950460pt;}
.y25{bottom:337.074060pt;}
.y23{bottom:377.197527pt;}
.y21{bottom:417.320994pt;}
.y20{bottom:457.444460pt;}
.y1f{bottom:497.567927pt;}
.y1d{bottom:537.691260pt;}
.y1b{bottom:577.814727pt;}
.y19{bottom:617.938194pt;}
.y17{bottom:658.061660pt;}
.y15{bottom:698.185127pt;}
.y13{bottom:738.308594pt;}
.y11{bottom:778.432060pt;}
.yf{bottom:818.555527pt;}
.yd{bottom:858.678994pt;}
.yb{bottom:898.802460pt;}
.y9{bottom:938.925927pt;}
.y7{bottom:979.049394pt;}
.y5{bottom:1019.172860pt;}
.y1{bottom:1059.296327pt;}
.h6{height:39.456667pt;}
.h5{height:39.456800pt;}
.h4{height:48.479167pt;}
.h3{height:56.720625pt;}
.h2{height:94.292133pt;}
.h1{height:1059.333333pt;}
.h0{height:1249.921733pt;}
.w2{width:140.291733pt;}
.w5{width:183.592667pt;}
.w6{width:192.805600pt;}
.w7{width:237.027867pt;}
.w4{width:305.203733pt;}
.w3{width:401.939733pt;}
.w1{width:1465.333333pt;}
.w0{width:1608.861200pt;}
.x1c{left:20.969843pt;}
.x6{left:26.276307pt;}
.x1{left:32.705833pt;}
.x1b{left:40.969843pt;}
.x15{left:44.601867pt;}
.x9{left:52.993917pt;}
.x1a{left:56.601867pt;}
.xa{left:58.145833pt;}
.xd{left:59.796327pt;}
.xe{left:64.402768pt;}
.x11{left:68.402768pt;}
.x0{left:72.000000pt;}
.xb{left:76.969843pt;}
.x19{left:80.969843pt;}
.x12{left:86.513916pt;}
.xf{left:90.513916pt;}
.x1e{left:92.969843pt;}
.xc{left:96.601867pt;}
.x3{left:98.009841pt;}
.x10{left:100.969843pt;}
.x21{left:108.969843pt;}
.x14{left:112.969843pt;}
.x18{left:116.969843pt;}
.x1f{left:120.601867pt;}
.x16{left:124.969843pt;}
.x13{left:128.969843pt;}
.x17{left:136.969843pt;}
.x1d{left:140.601867pt;}
.x20{left:156.969843pt;}
.x22{left:188.969843pt;}
.x2{left:213.291733pt;}
.x4{left:615.898133pt;}
.x5{left:921.768533pt;}
.x7{left:1106.027733pt;}
.x8{left:1299.500000pt;}
}
